{# {% spaceless %} #}

{% import "ImagepushBundle:Helpers:siteHelper.html.twig" as siteHelper %}
{% import "ImagepushBundle:Helpers:shareHelper.html.twig" as shareHelper %}
{% import "ImagepushBundle:Helpers:macros.html.twig" as macros %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.facebook.com/2008/fbml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta charset=utf-8 />
    <link rel="icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    {% if block('og_title') is defined %}
      {{ block('og_title') }}
    {% else %} {# if app.request.attributes.get('_route') == 'index' #}
      <title>Best images hourly</title>
      <meta name="title" content="Imagepush.to - Best images hourly" />
      <meta name="description" content="Imagepush.to - Best images hourly" />
      <meta property="og:type" content="website" />
    {% endif %}


    {% if block('og_url') is defined %}
      {{ block('og_url') }}
    {% elseif app.request.attributes.get('_route') == 'index' %}
      <link rel="canonical" href="https://imagepush.to/" />
    {% endif %}


    {% if block('meta_keywords') is defined %}
    <meta name="keywords" content="{{ block('meta_keywords') }}" />
    {% endif %}


    {% if block('image_src') is defined %}
    <link rel="image_src" href="{{ block('image_src') }}" />
    <meta name="medium" content="image" />
    {% endif %}

    {% block og_image %}{% endblock %}


    {# <meta name="viewport" content="initial-scale=1.0, width=device-width"> #}

    <link rel="alternate" type="application/rss+xml" title="Imagepush.to feed" href="https://imagepush.to/rss" />
    <meta name="google-site-verification" content="tT08cSzzAI9CaHWx62miVpZuZc9dI0sC5I6AD7AMKbo" />
    <meta property="og:site_name" content="Imagepush.to - Best images hourly" />
    <meta property="fb:admins" content="676763506" />
    <meta property="fb:app_id" content="118412418235312" />

    <link rel="stylesheet" href="{{ asset('css/base.css') }}" type="text/css" media="all" />

    <!--[if lt IE 8]>
		<link rel="stylesheet" href="{{ asset('css/ie67.css') }}" />
	<![endif]-->
    <!--[if lt IE 9]>
      <script src="/js/html5.js"></script>
	  <link rel="stylesheet" href="{{ asset('css/ie678.css') }}" />
	<![endif]-->

    {#
    <? /*
      <script src="http://cdn.socket.io/stable/socket.io.js"></script>
      <!-- script>WEB_SOCKET_SWF_LOCATION = 'http://imagepush.to/js/WebSocketMain.swf';</script -->
      <script src="/js/socket.js"></script>
      <script src="/js/jquery.lazyload.mini.js"></script>
     */ ?>
    #}

  </head>
  <body>
  {{ siteHelper.html('google_tag_manager') }}

  <div id="body">
      <header class="clearfix">
        <div class="logo"><a href="{{ path('index') }}" title="Imagepush"><img src="{{ asset('images/imagepush-logo.png') }}" alt="Imagepush" width="94" height="59" class="not_lazy" /></a></div>
        <div class="search_box">
          {{ siteHelper.html('google_site_search_form', true) }}
        </div>

        {{ render_esi(controller('ImagepushBundle:Front:_trendingNow', { 'max': 20 })) }}

      </header>

      {#
      <?php /* ?>
        <section id="banners" style="text-align: center;">
        <?php include_html_code('wide_728x90'); ?>
        <? /*<figure>
        <?php //include_html_code('wide_230x90'); ?>
        </figure> ?>
        </section>
        <?php */ ?>
      #}

      <div id="content">{% block content %}{% endblock %}</div>

      <aside id="asideInfo">
        {{ render_esi(controller('ImagepushBundle:Front:_sidebar')) }}
      </aside>
      <div class="footerFix"></div>
      {# <?php include_slot("verticalShare"); ?> #}

    </div>

   {{ render_esi(controller('ImagepushBundle:Front:_footer')) }}

  </body>
</html>
{# {% endspaceless %} #}
{#
{{ app.request.attributes.get('_controller') }}

{{ app.request.getUri }}
#}
