{% macro horizontal(image, size) %}

{% set size = size|default('small') %}

<section id="{{ size == 'small' ? 'horizontalShareSmall' : 'horizontalShare' }}">
  <ul>
    <li style="width: 100px;">{{ size == 'small' ? 'Like it?<br>Please share' : 'Like it?<br>Please share' }}</li>
    <li>
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="{{image._share_url}}" addthis:title="{{image.title}}" addthis:description="{{image.title}}">
        <div style="text-align: right;">
          <a class="addthis_button_preferred_1"></a>
          <a class="addthis_button_preferred_2"></a>
          <a class="addthis_button_preferred_3"></a>
          <a class="addthis_button_preferred_4"></a>
          <a class="addthis_button_preferred_5"></a>
          <a class="addthis_button_preferred_6"></a>
          <a class="addthis_button_preferred_7"></a>
          <a class="addthis_button_preferred_8"></a>
          <a class="addthis_button_expanded"></a>
          {% if size != 'small' %}
          <a class="addthis_counter addthis_bubble_style"></a>
          {% endif %}
        </div>
      </div>
    </li>
  </ul>
</section>

{% endmacro %}