<footer>
    <menu>
        <li><a href="/about">About</a></li> |
        <li><a href="http://status.imagepush.to/" target="_blank">Service status</a></li> |
        <li><a href="https://github.com/antonbabenko/imagepush2" target="_blank">Find problem? Contribute.</a></li>
        {# <li><a href="#" title="Resources for sites owners">Resources</a> |</li>
          <li><a href="#" title="Resources for developers">For developers</a></li> #}
    </menu>
    <div class="copyright">&copy; 2011&ndash;{{ "now"|date("Y") }} &mdash; Created and sponsored by <a href="http://www.web-developer.no/" target="_blank">Anton Babenko</a></div>
</footer>

{# INCLUDE JQUERY FIRST #}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
    if (typeof jQuery == 'undefined') document.write(unescape("%3Cscript src='{{ asset('js/jquery-1.7.2.min.js') }}'"))
</script>

{# <script type="text/javascript" src="{{ asset('js/jquery.lazyload.min.js') }}"></script> #}
<script type="text/javascript" src="{{ asset('js/base.js') }}"></script>

{% raw %}
<script type="text/javascript">
    var addthis_share = {
        templates: {
            twitter: '{{title}} {{url}} via @imagepush'
        },
        url_transforms: {
            clean: true,
            shorten: {
                twitter: 'bitly'
            }
        },
        shorteners: {
            bitly: { username: '{% endraw %}{{ bitly_username }}{% raw %}', apiKey: '{% endraw %}{{ bitly_api_key }}{% raw %}' }
        }
    };
    var addthis_config = { data_ga_property: 'UA-20823942-1', data_track_clickback: true, data_track_addressbar: true, ui_508_compliant: true, services_exclude: 'print', ui_use_image_picker : true };
</script>
<script src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d873ef60de2660d&domready=1"></script>
{% endraw %}
