{% import "ImagepushBundle:Helpers:siteHelper.html.twig" as siteHelper %}
{% import "ImagepushBundle:Helpers:macros.html.twig" as macros %}

{% if allImages is defined %}
{% for group in allImages %}

<section class="additionalContent"><div class="contentWrapper">
    <header>
      <h3>
        {% if groupTags %}
        LATEST IN <a href="{{ path('viewByTag', {'tag': group.tag|url_encode()}) }}">{{ group.tag }}</a>
        {% else %}
        RELATED IMAGES BY {{group.usedTags|length > 1 ? 'TAGS' : 'TAG' }}&nbsp;

        {% for tag in group.usedTags %}
        {% set tag = tag|replace({"\n": " "})|lower %}
        <a href="{{ path('viewByTag', {'tag': tag|url_encode()}) }}">{{tag}}</a>
        {% endfor %}

        {% endif %}
      </h3>
      {# <a href="#" class="rss">Subscribe to RSS</a> #}
    </header>
    <section class="thumbnails">
      <ul>
        {% for image in group.images %}

        <li>
          <div class="thumbWrapper">
            <div class="details">
              <span class="imgDescription">{{image.title}}</span>
            </div>
            <a href="{{ path('viewImage', {'id': image.id, 'slug': image.slug}) }}" title="{{image.title}}" class="imgWrapper">
              <img src="{{ macros.thumb_url(image, "out", 140, 140) }}" width="140" height="140" alt="{{image.title}}" />
              <span class="imgDescription"><span>{{image.title}}</span></span>
            </a>
          </div>
        </li>

        {% endfor %}
      </ul>
    </section>
  </div></section>

{% endfor %}
{% endif %}
