{% import "ImagepushBundle:Helpers:siteHelper.html.twig" as siteHelper %}
{% set currentImagePlacement = 0 %}
{% if allImages is defined %}
{% for group in allImages %}

{% if group.images is defined %}

<section class="additionalContent"><div class="contentWrapper">
    <header>
      <h3>
        {% if initialTags|length == 0 %}
        LATEST IN <a href="{{ path('viewByTag', {'tag': group.tag.0}) }}">{{group.tag.0}}</a>
        {% else %}
        RELATED IMAGES BY {{group.usedTags|length > 1 ? 'TAGS' : 'TAG' }}&nbsp;

        {% for tag in group.usedTags %}
        {% set tag = tag|replace({"\n": " "})|lower %}
        <a href="{{ path('viewByTag', {'tag': tag}) }}">{{tag}}</a>
        {% endfor %}

        {% endif %}
      </h3>
      <!-- <a href="#" class="rss">Subscribe to RSS</a> -->
    </header>
    <section class="thumbnails">
      <ul>
        {% for image in group.images %}

        {% if withAd and currentImagePlacement == bannerPlacement %}
        <li>
          <div class="adWrapper">
            {{ siteHelper.html('square_125x125') }}
          </div>
        </li>
        {% else %}
        <li>
          <div class="thumbWrapper">
            <div class="details">
              <span class="imgDescription">{{image.title}}</span>
            </div>
            <a href="{{ image._viewUrl}}" title="{{image.title}}" class="imgWrapper">
              <img src="{{image._thumbImg}}" width="140" height="140" alt="{{image.title}}" />
              <span class="imgDescription"><span>{{image.title}}</span></span>
            </a>
          </div>
        </li>
        {% endif %}

        {% set currentImagePlacement = currentImagePlacement + 1 %}

        {% endfor %}
      </ul>
    </section>
  </div></section>

{% endif %}
{% endfor %}
{% endif %}
