{% extends "ImagepushBundle::layoutFront.html.twig" %}

{% block og_title %}
<title>{{'Best images hourly - ' ~ (type == 'upcoming' ? 'Upcoming' : 'Published') ~ (tag is none ? '' : ':' ~ tag)}}</title>
<meta property="og:title" content="{{'Best images hourly - ' ~ (type == 'upcoming' ? 'Upcoming' : 'Published') ~ (tag is none ? '' : ':' ~ tag)}}" />
<meta property="og:type" content="article" />
{% endblock %}

{% block og_url %}
<meta property="og:url" content="{{app.request.getUri}}" />
<link rel="canonical" href="{{app.request.getUri}}" />
{% endblock %}

{% block content %}
<section id="mainContent">
  <div class="contentWrapper">
      <header>
        <ul>
          <li><a href="{{ path('index') }}">Home</a> / </li>

          {% if type == "upcoming" %}

            {% if tag %}

            {% if isOppositeTypeExists %}
            <li class="fright"><a href="{{ path('viewByTag', {'tag': tag|url_encode()}) }}">Previous hits</a></li>
            {% endif %}

            <li><a href="{{ path('viewUpcoming') }}">Upcoming</a> / </li>
            <li><h1>Tag: {{tag}}</h1></li>
          
            {% else %}

            <li><h1>Upcoming</h1></li>
            
            {% endif %}

          {% else %} 

            {% if tag %}

            {% if isOppositeTypeExists %}
            <li class="fright"><a href="{{ path('viewUpcomingByTag', {'tag': tag|url_encode()}) }}">Upcoming</a></li>
            {% endif %}

            <li><h1>Tag: {{ tag|replace({"\n": " "}) }}</h1></li>

            {% endif %}

          {% endif %}

        </ul>
      </header>

        {% if images|length %}
          
          {% if type == "upcoming" %}
            <div class="messageBox">Most liked images will be promoted to the homepage.</div>
          {% endif %}

        <section class="list">
        <ul>
        {% for imageKey, image in images %}
          <li id="item-{{image.id}}">
              <header>
                <ul>
                {% if type == "upcoming" %}
                  <li class="fright"><a class="close" href="#" onclick="javascript:Imagepush.Dislike('{{image.id}}'); return false;" title="I don't like it"></a></li>
                  <li><a href="#" onclick="javascript:Imagepush.Like('{{image.id}}'); return false;" id="image-{{image.id}}" class="like"></a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                {% endif %}
                  <li style="vertical-align:middle;"><h1>{{image.title}}</h1></li>
                </ul>

                {% if image.tags|length %}
                <p class="details">Tags:
                  {% for tag in image.tags %}
                  <a href="{{ path('viewByTag', {'tag': tag|url_encode()}) }}">{{tag}}</a>&nbsp;
                  {% endfor %}
                {% endif %}

              </header>

              <div style="text-align:center;">
                {% if type == "current" %}
                <a href="{{ path('viewImage', {'id': image.id, 'slug': image.slug}) }} ">
                {% endif %}
                <figure class="bigImg" style="display:inline-block;">
                  {# {% debug image %} #}
                  <img src="{{image._articleImg}}" alt="{{image.title}}" width="{{ image.aWidth < 625 ? image.aWidth : 625 }}" />
                </figure>
                {% if type == "current" %}
                </a>
                {% endif %}
              </div>

              <footer>
                {% if image.link is defined %}
                <span>
                  <div class="fright">
                    <a class="icon-inappropriate" href="#" onclick="javascript:if (confirm('Are you sure that this image is inappropriate? If this image does not contain porn or erotic, but you simply don\'t like it, please click &quot;I don\'t like it&quot; icon above the image?')) { Imagepush.Flag('{{image.id}}'); } return false;" id="flag-image-{{image.id}}">Flag image as inappropriate</a>
                  </div>
                  Fetched from
                  <a href="{{image.link}}" target="_blank" rel="external nofollow">{{image._originalHost|replace({'www.': ''}) }}</a>
                  on {{ image.timestamp|date('Y/m/d \\a\\t H:i') }}
                </span>
                {% endif %}
              </footer>

          </li>
        {% endfor %}
        </ul>
        </section>

        {% else %}
          {% if type == "upcoming" %}
            <p>Sorry, there are no upcoming images at the moment. Come back later.
          {% else %}
            <p>Sorry, there are no published images at the moment. Come back later.
          {% endif %}
        {% endif %}

        
  </div>
</section>

{% endblock %}