{% extends "ImagepushBundle::layoutFront.html.twig" %}

{% block og_title %}
<title>{{image.title}}</title>
<meta property="og:title" content="{{image.title}}" />
<meta property="og:type" content="article" />
{% endblock %}

{% block og_url %}
<meta property="og:url" content="{{image._shareUrl}}" />
<link rel="canonical" href="{{image._shareUrl}}" />
{% endblock %}

{% block og_image %}
<meta property="og:image" content="{{ macros.outbound_img_url(image.file, 140, 140) }}" />
{% endblock %}

{% block meta_keywords %}
{% spaceless %}
{{ image.tags|default([])|join(',') }}
{% endspaceless %}
{% endblock %}
  
{% block image_src %}
{% spaceless %}
{{ macros.inset_img_url(image.file, 463, 1510) }}
{% endspaceless %}
{% endblock %}

{% block content %}
<section id="mainContent">
  <div class="contentWrapper">
    <article>
      <header>
        {# <?/*
        <div class="category">
          <div class="addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="<?php echo $image["_share_url"]; ?>" addthis:title="<?php echo $image["title"]; ?>" addthis:description="<?php echo $image["title"]; ?>">
          <!-- a class="addthis_button_expanded"></a -->
          <a class="addthis_counter addthis_bubble_style"></a>
          </div>
          <a href="http://twitter.com/share" class="twitter-share-button" data-url="<?php echo $image["_share_url"]; ?>" data-text="<?php echo $image["title"]; ?>" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
          &nbsp;<iframe src="http://www.facebook.com/plugins/like.php?href=<?php echo rawurlencode($image["_share_url"]); ?>&amp;layout=button_count&amp;show_faces=false&amp;width=50&amp;font=trebuchet+ms&amp;action=like&amp;colorscheme=light&amp;height=20" style="border:none; overflow:hidden; width:50px; height:20px;"></iframe>

        </div>
           */ ?> #}
        <ul>
          <li><a href="{{ path('index') }}">Home</a> /</li>
          <li><h1>{{image.title}}</h1></li>
        </ul>
        <div class="headerMeta">
          <time datetime="{{image.timestamp|date(constant('DATE_ATOM'))}}">
            <strong>Published:</strong> {{image.timestamp|date('Y/m/d \\a\\t H:i')}}
          </time>
          <nav>
            {% if prevImage is not empty %}
            <a href="{{ path('viewImage', {'id': prevImage.id, 'slug': prevImage.slug}) }}" class="prev">Previous image</a>
            {% else %}
            <a href="#" onclick="return false;" class="prev disabled">Previous image</a>
            {% endif %}
            |
            {% if nextImage is not empty %}
            <a href="{{ path('viewImage', {'id': nextImage.id, 'slug': nextImage.slug}) }}" class="next">Next image</a>
            {% else %}
            <a href="#" onclick="return false;" class="next disabled">Next image</a>
            {% endif %}
          </nav>
        </div>
      </header>
      
      {{ shareHelper.horizontal(image, 'large') }}
      
      <div style="text-align:center;">
        <figure class="bigImg">
          <img src="{{ macros.inset_img_url(image.file, 625, 2090) }}" alt="{{image.title}}" width="{{ image.aWidth < 625 ? image.aWidth : 625}}" />
        </figure>

        {% render "ImagepushBundle:Front:_comments" with {'href': image._shareUrl} %}
        
      </div>

      <footer>
        <br><div class="source">Fetched from <a href="{{image.link}}" target="_blank" rel="external nofollow">{{image._originalHost|replace({'www.': ''}) }}</a></div>
        {# {% if image.tags|length %}
        <div class="tags">Tags:
          {% for tag in image.tags %}
            <a href="{{ path('viewByTag', {'tag': tag|lower|url_encode()}) }}">{{tag}}</a>
          {% endfor %}
        </div>
        {% endif %} #}
      </footer>
    </article>
    
{#
    <?php /* ?>
    <div id="collapsable_comments" style="display:none;">
    <hr />
    <div id="disqus_thread"></div>
    <script type="text/javascript">
    var disqus_shortname = 'imagepush';
    var disqus_identifier = '<?php echo "image_".$image["id"]; ?>';
    var disqus_url = '<?php echo $image["_share_url"]; ?>';
    var disqus_title = '<?php echo $image["title"]; ?>';
    //var disqus_developer = 1;

    // DON'T EDIT BELOW THIS LINE
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
    </div>

    <p><a href="#" id="show_comments_link" onmousedown="if(document.getElementById('collapsable_comments').style.display == 'none'){ document.getElementById('collapsable_comments').style.display = 'block'; document.getElementById('show_comments_link').style.display = 'none'; }">Add comment</a>
    <?php */?> #}
  </div>
</section>

{% render "ImagepushBundle:Front:_thumbBox" with {'initialTags': image.tags, 'skipImageId': image.id, 'withAd': true} %}

{% endblock %}