{% import "ImagepushBundle:Helpers:macros.html.twig" as macros %}
<?xml version="1.0" encoding="UTF-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xml:lang="en-US">
    <id>https://imagepush.to/</id>
    <link type="text/html" rel="alternate" href="{{ url('index')|replace({'http://': 'https://'}) }}"/>
    <link type="application/atom+xml" rel="self" href="{{ url('atomFeed')|replace({'http://': 'https://'}) }}"/>
    <title>Imagepush.to - Best images hourly</title>
    <updated>{{ 'now'|date('c') }}</updated>
    {% for imageKey, image in images %}
    <entry>
        <id>{{ url('viewImage', {'id': image.id, 'slug': image.slug})|replace({'http://': 'https://'}) }}</id>
        <published>{{ image.timestamp|date('c') }}</published>
        <updated>{{ image.timestamp|date('c') }}</updated>
        <link type="text/html" rel="alternate" href="{{ url('viewImage', {'id': image.id, 'slug': image.slug})|replace({'http://': 'https://'}) }}" />
        <title>{{ image.title }}</title>
        <author>
            <name>{{ image._originalHost|replace({'www.': ''}) }}</name>
            <uri>{{ image.link }}</uri>
        </author>
        <content type="html">
            &lt;a href="{{ url('viewImage', {'id': image.id, 'slug': image.slug})|replace({'http://': 'https://'}) }}"&gt;
            &lt;img src="{{ macros.thumb_url(image, "in", 463, 1548) }}" alt="{{image.title}}" width="{{ image.thumbProperty("in", 463, 1548, "w") }}" height="{{ image.thumbProperty("in", 463, 1548, "h") }}" border="0" /&gt;
            &lt;/a&gt;
        </content>
    </entry>
    {% endfor %}
</feed>
