{% extends "ImagepushBundle::layoutFront.html.twig" %}

{% block og_title %}
<title>{{image.title}}</title>
<meta property="og:title" content="{{image.title}}" />
<meta property="og:type" content="article" />
{% endblock %}

{% block og_url %}
<meta property="og:url" content="{{ url('viewImage', {'id': image.id, 'slug': image.slug}) }}" />
<link rel="canonical" href="{{ url('viewImage', {'id': image.id, 'slug': image.slug}) }}" />
{% endblock %}

{% block og_image %}
<meta property="og:image" content="{{ macros.thumb_url(image, "out", 140, 140, true) }}" />
{% endblock %}

{% block meta_keywords %}
{% spaceless %}
{{ image.tags|default([])|join(',') }}
{% endspaceless %}
{% endblock %}
  
{% block image_src %}
{% spaceless %}
{{ macros.thumb_url(image, "in", 463, 1548, true) }}
{% endspaceless %}
{% endblock %}

{% block content %}
<section id="mainContent">
  <div class="contentWrapper">
    <article>
      <header>
        {# <?/*
        <div class="category">
          <div class="addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="<?php echo $image["_share_url"]; ?>" addthis:title="<?php echo $image["title"]; ?>" addthis:description="<?php echo $image["title"]; ?>">
          <!-- a class="addthis_button_expanded"></a -->
          <a class="addthis_counter addthis_bubble_style"></a>
          </div>
          <a href="http://twitter.com/share" class="twitter-share-button" data-url="<?php echo $image["_share_url"]; ?>" data-text="<?php echo $image["title"]; ?>" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
          &nbsp;<iframe src="http://www.facebook.com/plugins/like.php?href=<?php echo rawurlencode($image["_share_url"]); ?>&amp;layout=button_count&amp;show_faces=false&amp;width=50&amp;font=trebuchet+ms&amp;action=like&amp;colorscheme=light&amp;height=20" style="border:none; overflow:hidden; width:50px; height:20px;"></iframe>

        </div>
           */ ?> #}
        <ul>
          <li><a href="{{ path('index') }}">Home</a> /</li>
          <li><h1>{{image.title}}</h1></li>
        </ul>
        <div class="headerMeta">
          <time datetime="{{image.datetime|date(constant('DATE_ATOM'))}}">
            <strong>Published:</strong> {{image.datetime|date('Y/m/d \\a\\t H:i')}}
          </time>
          <nav>
            {% if prevImage is not empty %}
            <a href="{{ path('viewImage', {'id': prevImage.id, 'slug': prevImage.slug}) }}" class="prev">Previous image</a>
            {% else %}
            <a href="#" onclick="return false;" class="prev disabled">Previous image</a>
            {% endif %}
            |
            {% if nextImage is not empty %}
            <a href="{{ path('viewImage', {'id': nextImage.id, 'slug': nextImage.slug}) }}" class="next">Next image</a>
            {% else %}
            <a href="#" onclick="return false;" class="next disabled">Next image</a>
            {% endif %}
          </nav>
        </div>
      </header>
      
      {{ shareHelper.horizontal(image, 'large') }}
      
      <div style="text-align:center;">
        <figure class="bigImg">
          <img src="{{ macros.thumb_url(image, "in", 625, 2090) }}" alt="{{image.title}}" width="{{ image.thumbSize("in", 625, 2090, "w") }}" height="{{ image.thumbSize("in", 625, 2090, "h") }}" />
        </figure>

        {% render "ImagepushBundle:Front:_comments" with {'href': url('viewImage', {'id': image.id, 'slug': image.slug}) } %}
        
      </div>

      <footer>
        <br><div class="source">Fetched from <a href="{{image.link}}" target="_blank" rel="external nofollow">{{image._originalHost|replace({'www.': ''}) }}</a></div>
        {# {% if image.tags|length %}
        <div class="tags">Tags:
          {% for tag in image.tags %}
            <a href="{{ path('viewByTag', {'tag': tag|lower|url_encode()}) }}">{{tag}}</a>
          {% endfor %}
        </div>
        {% endif %} #}
      </footer>
    </article>
    
  </div>
</section>

{% render "ImagepushBundle:Front:_thumbBox" with {'initialTags': image.tags, 'skipImageId': image.id, 'withAd': true} %}

{% endblock %}